.Tweets {
  overflow: scroll;
  height: 1000px;
  background-color: #9be3de;
  margin: 10px;
  border-radius: 15px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #a9d4d2;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  margin-left: 10px;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ffe3ed;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffe3ed;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tweetInput {
  word-wrap: break-word;
  background-color: white;
  width: 400px;
  height: 100px;
  font-size: 12pt;
  padding: 10px;
  border-radius: 15px;
}

.userName {
  padding-left: 0.5em;
  font-weight: bold;
  font-size: 14;
}
.email {
  padding-left: 0.5em;

  font-size: 14;
}

.Relation {
  background-color: #85c0bb;
  width: 100%;
  height: 55px;
  border: 1px solid #ccc;

  display: flex;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 16 px;
  line-height: 18px;
}

.editSet {
  display: flex;
}

.background {
  background-color: #beebe9;
}

.relationList {
  overflow: scroll;
  height: 500px;
}
