.FormContainer {
  background-color: #9be3de;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
}

.signup {
  margin-left: 10px;
}

.buttonSet {
  background-color: #9be3de;
  text-align: center;

  border-radius: 15px;
}

.richTextBtn {
  width: 30px;
  height: 30px;
  padding-left: 0.3em;
}

.richTextBtn-w {
  width: 80px;
  height: 30px;
  padding-left: 0.3em;
}

.Editor {
  background-color: #9be3de;
  text-align: center;

  border-radius: 15px;
}

.textArea {
  background: rgb(192, 222, 237);
  margin: 5px;
  height: 100px;
  text-align: left;
  max-width: 395px;
}

.canvas {
  overflow: scroll;
}

.Content {
  padding-top: 0.5em;
  padding-left: 0.4em;
}

.Status {
  padding: 10px;
  text-align: left;
}
